<!DOCTYPE html>
<html lang="{{with $.Params.lang}}{{.}}{{else}}en{{end}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ block "meta" . }}{{ end }}
    <link href="/site.webmanifest" rel="manifest">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://i0.wp.com">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@primer/css@20.6.0/dist/primer.css" as="style"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@primer/css@20.6.0/dist/primer.css">
    <meta name="google-site-verification" content="DmlywITDushGc6Vu8fbK4Ur7M9GCpgiN7aPWRGso9Hg" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DZK5V51MWP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DZK5V51MWP');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8887263260016839" crossorigin="anonymous"></script>
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ partial "svg.html" . }}
    {{ partial "footerscript.html" . }}
  </body>
</html>