{{ define "meta" }}
<title>{{ .Title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- with $.Params.images }}<meta property="og:image" content="{{ index . 0 | absURL }}"/>{{ end -}}
{{ range .Params.interest }}<meta property="article:section" content="{{ . | title }}" />{{ end }}
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}" />
<meta property="og:locale" content="en" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{- with $.Params.images -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- with $featured -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $featured.Permalink }}"/>
{{- else -}}
{{- with $.Site.Params.images -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
<meta name="twitter:card" content="summary"/>
{{- end -}}
{{- end -}}
{{- end }}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}

{{ end }}

{{ define "main" }}
<div class="position-sticky top-0 color-bg-inset border-bottom py-1" style="z-index: 2;">
    <nav aria-label="Breadcrumb" class="f4  pl-3 pl-md-4 pl-lg-5 d-flex flex-items-center flex-justify-between" >
        <ol  itemscope itemtype="https://schema.org/BreadcrumbList" class="Truncate">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item Truncate-text Truncate-text--primary">
            <a href="/" itemprop="item" aria-label="To front page">
                <svg aria-hidden="true" class="octicon" width="18" height="18">
                    <use xlink:href="#logo-house" />
                </svg>
                <span itemprop="name" class="d-none d-lg-inline-block">Home</span>
                <meta itemprop="position" content="1" />
            </a>
          </li>
          {{ range .Params.interest }}
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item Truncate-text Truncate-text--primary">
              <a href="{{ "/interest/" | relLangURL }}{{ . | urlize }}/" itemprop="item" aria-label="article section" class="Truncate-text">
                  <span itemprop="name">{{ . | title }}</span>
                  <meta itemprop="position" content="2" />
              </a>
          </li>{{ end }}
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item breadcrumb-item-selected Truncate-text">
            <a href="#article" aria-current="page" style="pointer-events:none">
                <span itemprop="name">{{ .Title | title}}</span>
                <meta itemprop="position" content="3" />                  
            </a>
          </li>
        </ol>
        <div class="position-relative">
            <details class="dropdown details-reset details-overlay d-inline-block">
                    <summary class="btn-octicon pr-4" aria-haspopup="true" type="button" aria-label="Share">
                      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="octicon color-fg-accent"><use xlink:href="#logo-share" /></svg>
                    </summary>
                
                    <div class="dropdown-menu dropdown-menu-w">
                      <div class="dropdown-header">Share</div>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="https://twitter.com/intent/tweet?{{.Title | title }}&amp;url={{.Permalink}}" target="_blank" rel="noopener" aria-label="Share on Twitter">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                            version="1.1" width="16" class="octicon mr-1 v-align-middle">
                            <use xlink:href="#logo-twitter" />
                            </svg>
                            <span class="v-align-middle">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                            version="1.1" width="16" class="octicon mr-1 v-align-middle">
                            <use xlink:href="#logo-facebook" />
                            </svg>
                            <span class="v-align-middle">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="mailto:?subject={{.Title|title}}&body={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Share by email">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                            version="1.1" width="16" class="octicon mr-1 v-align-middle">
                            <use xlink:href="#logo-email" />
                            </svg>
                            <span class="v-align-middle">Email</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </details>
        </div>
    </nav>
</div>

<div class="clearfix px-3 px-md-4 px-lg-5">
    <div
        class="Layout Layout--flowRow-until-md Layout--sidebarPosition-end Layout--sidebarPosition-flowRow-end Layout--sidebar-wide">
        <div class="Layout-main">          
            <article id="article" class="markdown-body pt-3 f4-mktg mx-auto" style="max-width: 590px;" itemscope itemtype="https://schema.org/Article">
                {{ range .Params.interest }}<meta itemprop="keywords" content="{{ . | title }}"/>{{ end }}
                {{ range .Params.topic }}<meta itemprop="keywords" content="{{ . | title }}"/>{{ end }}
                {{ range .Params.tags }}<meta itemprop="keywords" content="{{ . | title }}"/>{{ end }}
                <header>
                    <div>
                        <div class="color-fg-muted f5">
                            <span class="sr-only" itemprop="timeRequired" content="PT{{ math.Round (div (countwords .Content) 220.0) }}M">Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.</span>
                            <span class="sr-only">Wordcount: <span itemprop="wordCount">{{ .WordCount }}</span></span>
                            <span>Published: <time itemprop="datePublished" content="{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}" class="op-published" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}">{{ .Date.Format "Monday, Jan 2, 2006" }}</time></span>
                            <span class="d-none">Modified: <time itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}" class="op-modified" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}">{{ .Lastmod.Format "Monday, Jan 2, 2006" }}</time></span>
                        </div>
                    </div>
                    <h1 class="h3-mktg mt-0" itemprop="headline">{{ .Title | title | markdownify}}</h1>
                    
                    {{ with $.Params.description}}<p class="op-kicker f3">{{. | markdownify}}</p>{{end}}

                    <aside class="my-3">
                        <div class="sr-only">Share this article:</div>
                        <ul class="list-style-none pl-0 mb-0 clearfix">
                            <li class="float-left mt-0 mr-2 mb-2">
                                <a href="https://twitter.com/intent/tweet?{{.Title | title }}&amp;url={{.Permalink}}" target="_blank" rel="noopener" class="btn" aria-label="Share on Twitter">
                                    <svg aria-hidden="true" height="16" version="1.1" width="16" class="octicon v-align-middle"><use xlink:href="#logo-twitter" /></svg> 
                                    <span class="v-align-middle">Twitter</span>
                                </a>
                            </li>
                            <li class="float-left mt-0 mr-2 mb-2">
                                <a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" class="btn" aria-label="Share on Facebook">
                                    <svg aria-hidden="true" height="16" version="1.1" width="16" class="octicon v-align-middle"><use xlink:href="#logo-facebook" /></svg> 
                                    <span class="v-align-middle">Facebook</span>
                                </a>                                
                            </li>
                            <li class="float-left mt-0 mr-2 mb-2">
                                <a href="mailto:?subject={{.Title|title}}&body={{ .Permalink }}" target="_blank" rel="noopener" class="btn" aria-label="Email this article">
                                    <svg aria-hidden="true" height="16" version="1.1" width="16" class="octicon v-align-middle"><use xlink:href="#logo-email" /></svg> 
                                    <span class="v-align-middle">Email</span>
                                </a>                                
                            </li>
                        </ul>
                    </aside>
                    {{ with $.Params.images}}
                    <figure class="mr-n3 mr-md-0 ml-n3 ml-md-0">
                        <picture class="mx-auto">
                            <meta itemprop="image" content="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?resize=1000,1000"/>
                            <meta itemprop="image" content="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?resize=1024,768"/>
                            <meta itemprop="image" content="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?resize=1280,720"/>
                            <meta itemprop="image" content="{{ index . 0 }}"/>
                            <!-- ratio resize for 320px and 2 ratio -->
                            <source srcset="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=640 640w"
                                media="(max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (min-resolution: 192dpi)">
                            <!-- resize for 320px -->
                            <source srcset="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=320 320w"
                                media="(max-width: 320px)">
                            <!-- ratio resize for 400px and 2 ratio -->
                            <source srcset="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=800 800w"
                                media="(max-width: 400px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 400px) and (min-resolution: 192dpi)">
                            <!-- resize for 400px -->
                            <source srcset="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=400 400w"
                                media="(max-width: 400px)">
                            <!-- ratio resize for 500px and 2 ratio -->
                            <source srcset="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=1010 1010w"
                                media="(max-width: 640px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 640px) and (min-resolution: 192dpi)">
                            <!-- resize for 500px -->
                            <source srcset="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=500 500w"
                                media="(max-width: 640px)">
                            <!-- resize for 590px -->
                            <source srcset='{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?w=590 590w'>
                            <!-- original size -->
                            <img src='{{ replace ( index . 0 ) "https://" "https://i0.wp.com/"  }}' width="1180"
                                height="730" {{ with $.Params.caption}}alt="{{.}}" {{end}} loading="auto"
                                class="height-auto ">
                        </picture>
                        {{ with $.Params.caption}}<figcaption class="color-fg-muted f5 mr-3 mr-md-0 ml-3 ml-md-0">{{.}}</figcaption>{{end}}
                    </figure>
                    {{ end }}
                </header>
                
                {{ .Content }}

                <div class="author my-3">
                    {{ with .Params.author }}
                        <h3 class="sr-only">Author(s):</h3>
                    {{ end }}
                    {{range .Params.author}}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "author/%s" (urlize .)) }}
                        <address itemprop="author" itemscope itemtype="https://schema.org/Person" class="v-align-middle d-inline-flex mr-2 flex-items-center">
                        {{ with .Params.images }}
                        <img loading="lazy" src="{{ replace ( index . 0 ) "https://" "https://i0.wp.com/" }}?resize=64,64" alt="" width="16" height="16" class="avatar avatar-2 mr-1">
                        {{ else }}
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="octicon mr-1 v-align-middle color-fg-muted"><use xlink:href="#logo-account-circle" /></svg>
                        {{ end }}
                        <a itemprop="url" content="{{ .Permalink }}" href="{{ .Permalink }}" class="color-fg-muted">
                            <span itemprop="name">{{ .Title | title}}</span></a>
                        </address>
                        {{ end }}
                        {{end}}
                </div>
                <div class="tags">
                    <h3 class="sr-only">Section, topics, tags, and collection</h3>
                    <ul class="pl-0 mb-0 list-style-none clearfix">
                        {{ range .Params.interest }}
                        <li class="float-left mt-0 mr-2 mb-2 Truncate">
                            <a href="{{ "/interest/" | relLangURL }}{{ . | urlize }}/" class="btn Truncate-text" type="button" aria-label="article topic quick link">
                                <svg aria-hidden="true" height="16" width="16" class="octicon v-align-middle"><use xlink:href="#logo-folder"></use></svg>
                                <span class="v-align-middle">{{ . | title }}</span>
                            </a>
                        </li>
                        {{ end }}
                        {{ range .Params.topic }}
                        <li class="float-left mt-0 mr-2 mb-2 Truncate">
                            <a href="{{ "/topic/" | relLangURL }}{{ . | urlize }}/" class="btn Truncate-text" type="button" aria-label="article topic quick link">
                                <svg aria-hidden="true" height="16" width="16" class="octicon v-align-middle"><use xlink:href="#logo-tag"></use></svg>
                                <span class="v-align-middle">{{ . | title }}</span>
                            </a>
                        </li>
                        {{ end }}
                        {{ range .Params.tags }}
                        <li class="float-left mt-0 mr-2 mb-2 Truncate">
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" class="btn Truncate-text" type="button" aria-label="article tag quick link">
                                <svg aria-hidden="true" height="16" width="16" class="octicon v-align-middle"><use xlink:href="#logo-tag"></use></svg>
                                <span class="v-align-middle">{{ . | title }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <ul class="pl-0 mb-0 list-style-none clearfix">
                        {{ range .Params.collection }}
                        <li class="float-left mt-0 mr-2 mb-2 Truncate">
                            <a href="{{ "/collection/" | relLangURL }}{{ . | urlize }}/" class="btn Truncate-text" type="button" aria-label="article collection quick link">
                                <svg aria-hidden="true" height="16" width="16" class="octicon v-align-middle"><use xlink:href="#logo-collection"></use></svg>
                                <span class="v-align-middle ">{{ . | title }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <aside class="my-3">
                    <div class="mb-2">Share this article:</div>
                    <ul class="list-style-none pl-0 mb-0 clearfix">
                        <li class="float-left mt-0 mr-2 mb-2">
                            <a href="https://twitter.com/intent/tweet?{{.Title | title }}&amp;url={{.Permalink}}" target="_blank" rel="noopener" class="btn" aria-label="Share on Twitter">
                                <svg aria-hidden="true" height="16" version="1.1" width="16" class="octicon v-align-middle"><use xlink:href="#logo-twitter" /></svg> 
                                <span class="v-align-middle">Twitter</span>
                            </a>
                        </li>
                        <li class="float-left mt-0 mr-2 mb-2">
                            <a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" class="btn" aria-label="Share on Facebook">
                                <svg aria-hidden="true" height="16" version="1.1" width="16" class="octicon v-align-middle"><use xlink:href="#logo-facebook" /></svg> 
                                <span class="v-align-middle">Facebook</span>
                            </a>                                
                        </li>
                        <li class="float-left mt-0 mr-2 mb-2">
                            <a href="mailto:?subject={{.Title|title}}&body={{ .Permalink }}" target="_blank" rel="noopener" class="btn" aria-label="Email this article">
                                <svg aria-hidden="true" height="16" version="1.1" width="16" class="octicon v-align-middle"><use xlink:href="#logo-email" /></svg> 
                                <span class="v-align-middle">Email</span>
                            </a>                                
                        </li>
                    </ul>
                </aside>
            </article>
        </div>
        <div class="Layout-sidebar"></div>
    </div>
</div>
{{ end }}