<header class="border-bottom" style="background-color: var(--color-page-header-bg);">
    <div class="d-flex flex-wrap flex-justify-end px-3 px-md-4 px-lg-5 py-2" style="gap: 1 rem;">
        <div class="flex-auto min-width-0 width-fit mr-3">
            <div class="d-flex flex-wrap flex-items-center wb-break-word h2">
                <a href="/" class="no-underline d-flex color-fg-default" aria-label="Go to homepage">
                    <svg aria-hidden="true" class="avatar mr-2 border-0 color-bg-transparent shadow-0" width="32" height="32">
                        <use xlink:href="#logo-allwellbeing" />
                    </svg>
                    <span>{{.Site.Title}}</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="d-flex flex-justify-between px-3 px-md-4 px-lg-5 pb-2">
        <div class="overflow-hidden">
            <ul class="list-style-none d-flex overflow-auto" >
                <li class="d-inline-flex mr-2">
                    <a href="/" rel="nofollow" class="float-left btn" aria-label="Go to Homepage"> 
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                        version="1.1" width="16" class="octicon mr-1 v-align-middle color-fg-accent">
                        <use xlink:href="#logo-home" />
                        </svg>
                    <span class="v-align-middle">Main</span>
                    </a>
                </li>
                <li class="d-inline-flex mr-2">
                    <a href="/interest/investments/" class="float-left btn" aria-label="Quick link">
                        <svg aria-hidden="true" height="16" width="16" class="octicon mr-1 v-align-middle mr-1 color-fg-accent">
                            <use xlink:href="#logo-investment" />
                        </svg>
                         Investment</a>
                </li>
                <li class="d-inline-flex mr-2">
                    <a href="/interest/health/" class="float-left btn" aria-label="Quick link">
                        <svg aria-hidden="true" height="16" width="16" class="octicon octicon-code UnderlineNav-octicon mr-1 color-fg-accent">
                            <use xlink:href="#logo-health" />
                        </svg>Health</a>
                </li>
                <li class="d-inline-flex mr-2">
                    <a href="/interest/management/" class="float-left btn" aria-label="Quick link">
                        <svg aria-hidden="true" height="16" width="16" class="octicon octicon-code UnderlineNav-octicon mr-1 color-fg-accent">
                            <use xlink:href="#logo-management" />
                        </svg>Management</a>
                </li>
            </ul>
        </div>
        <div>
            <!-- <button class="btn btn-invisible" type="button" aria-label="Trashcan icon">
                <svg aria-hidden="true" height="16"  width="16"
                    class="octicon mr-1 v-align-middle anim-pulse-in">
                    <use xlink:href="#logo-vertical-dots" />
                </svg>
            </button> -->
        </div>
    </nav>
</header>