<figure class="mx-0">
    <picture class="mx-auto">
        <!-- ratio resize for 320px and 2 ratio -->
        <source srcset="{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=640 640w"
            media="(max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (min-resolution: 192dpi)">
        <!-- resize for 320px -->
        <source srcset="{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=320 320w"
            media="(max-width: 320px)">
        <!-- ratio resize for 400px and 2 ratio -->
        <source srcset="{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=800 800w"
            media="(max-width: 400px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 400px) and (min-resolution: 192dpi)">
        <!-- resize for 400px -->
        <source srcset="{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=400 400w"
            media="(max-width: 400px)">
        <!-- ratio resize for 500px and 2 ratio -->
        <source srcset="{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=1010 1010w"
            media="(max-width: 640px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 640px) and (min-resolution: 192dpi)">
        <!-- resize for 500px -->
        <source srcset="{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=500 500w"
            media="(max-width: 640px)">
        <!-- resize for 590px -->
        <source srcset='{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/" }}?w=590 590w'>
        <!-- original size -->
        <img src='{{ replace ( index .Params "src" ) "https://" "https://i0.wp.com/"  }}' width="1180" height="730"
        alt="{{ index .Params "alt" }}" loading="lazy" class="height-auto ">
    </picture>
    {{ if isset .Params "alt"}}<figcaption class="color-fg-muted f5">{{ index .Params "alt" }}</figcaption>{{end}}
</figure>